/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   margin: 0px;

 }
 *, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


.landing-icon{
  width: 150px;
  height: 50px;
  border: 1px dotted black;
  padding: 1px;
}
.landing-header{
  font-family: sans-serif;
  border: 2px solid indigo;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background: #0079BF;
  border: 1px solid yellow;
  padding: 10px;
}

.landing-header-spacer{
  width: 70%;
  border: 2px solid black;
}

.landing-header-left{
  border: 1px solid red;
  display: block;
  height: 100%;
  width: 100%;

}

.landing-sign-up-bar{

  border: 1px solid green;
  border-radius: 5px;
  background: white;
}

.landing-login-bar{
  border: 1px solid black;
  border-radius: 5px;
  background: white;

}


.landing-body-text{
  border: 1px solid black;

}
