/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

 body{
   margin: 0px;

 }
 *, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


.landing-icon{
  width: 150px;
  height: 50px;
  padding: 1px;
}
.landing-header{
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #0079BF;
  padding: 10px;
  align-items: center;
}

.landing-header-left{
  display: block;
  height: 100%;
  width: 23vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}


.landing-sign-up-bar, .landing-login-bar{
  border-radius: 5px;
  font-size: 19px;
  color: white;
  text-decoration: none;
  text-align: center
}


.landing-login-bar{
  height: 34px;
  width: 10vh;
  background: #026AA7;
  box-shadow: 2px 2px 2px #0C3953;
  padding: 6px;
}

.landing-login-bar:hover{
  background: #055A8C;
}



.landing-sign-up-bar{
  background: #61BD4F;
  box-shadow: 2px 2px 2px #0C3953;
  padding: 6px;
  font-weight: bold;
  font-size: 18px;
  height: 34px;
  width: 12vh;
}


.landing-body-text{
  border: 1px solid black;

}
