$offwhite: #EDEFF0;
$light-grey: #DCDCDC;
$babby-blue: #C7E2F1;
$header-blue: #026AA7;
button:focus {outline:0;};
$dark-grey: #505050;
$menu-hover-blue:#298FCA;

.header-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.header-nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  padding-top: 6px;
  height: 40px;
  background-color: $header-blue;
}

.trello-image-link {
  height: 30px;
  position: absolute;
  left: 45vw;

-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";

}

.trello-header-title{
  font-family: "Brush Script MT", cursive;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	line-height: 30px;
  color: white;
  position: absolute;
  left: 48vw;
}

.create-board-dropdown-form{
  display: flex;
  flex-direction: column;

}


.board-menu-container{
  width: 200px;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue";
  border-radius: 3px;
  box-shadow: 3px 3px 5px $light-grey;
  padding-top: 15px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 3px;
  position: absolute;
  top: 40px;
  left: 3px;
  border: 1px solid $light-grey;

}

.board-menu-container{

  top: -100px;
  left: -300px;


}

.expanded-board-menu-container{
  z-index: 3;
  width: 235px;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue";
  border-radius: 3px;
  box-shadow: 1px 1px 1px gray;
  padding-top: 15px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 5px;
  position: absolute;
  top: 40px;
  left: 3px;
  border: 1px solid $light-grey;
  overflow: hidden;
  height: 90%;
}

.board-menu-item-left-box{
  height: 34px;
  width: 34px;
  background-color: #5BA4CF;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 5px;
  padding-right: 0px;
}

.board-item-wrapper{
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 0px;

}

.board-menu-item{
  width: 180px;
  background-color: #E4F0F6;
  margin-left: 0px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 9px;
  border-radius: 3px;
  height: 34px;
  align-content: center;
  text-align: justify;
  font-weight: bolder;
  font-size: 13px;
  color: $dark-grey;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.board-menu-item:hover{
  background-color: $babby-blue;
}

.board-menu-text{
  height: 200px;
  width: 100px;

}

.board-menu-button{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 28px;
  width: 88px;
  border-radius: 3px;
  font-family: "Helvetica Neue";
  background-color: #298FCA;
  cursor: pointer;
  border: none;
}

.board-menu-button:hover{
  background-color: #5BA4CF;
}

button.board-sharing-dropdown-container{
  height: 28px;
  width: 28px;
  font-size: 11px;
  font-weight: bold;
  background: $menu-hover-blue;
  font-family: "Helvetica Neue";
  border-radius: 3px;
  padding-left: 7px;
  padding-top: 4px;
  color: white;
  border: none;
  position: absolute;
  right: 103px;

}

.board-menu-button-icon{
  padding-top: 1px;
  padding-left: 3px;
  font-size: 16px;
}


.board-menu-button-text{
  padding-top: 2px;
  padding-right: 4px;
  font-weight: 700;
  font-size: 14px;
}


.new-board-dropdown-container{
  height: 50px;
  width: 100px;
}


.expanded-user-menu-container{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 39px;
  right: 175px;
  // right: 500em;
  width: 200px;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue";
  border-radius: 3px;
  box-shadow: 3px 3px 5px $light-grey;
  padding-top: 15px;
  padding-bottom: 4px;
  border: 1px solid $light-grey;
  align-content: center;
  align-items: center;
  padding: 15px;
  z-index: 3;
}

.user-menu-container.expanded-board-menu-container{
  padding-left: 14px;
  padding-bottom: 15px;
}
div.user-menu-container.expanded-board-menu-container{
  z-index: 3;
  width: 200px;
}

div.outerEnclosingDiv{
  width: 30px;
}

.user-profile-photo{
  height: 28px;
  width: 28px;
  font-size: 11px;
  font-weight: bold;
  background: $light-grey;
  font-family: "Helvetica Neue";
  border-radius: 3px;
  padding-left: 8px;
  padding-top: 2px;
  color: #4d4d4d;
  position: absolute;
  right: 15px;
  border: none;
}

.user-profile-logout-button{
  width: 160px;
  padding: 10px;

  color: $dark-grey;
  border: none;
  background-color: white;
  padding-left: 20px;
  align-self: center;
  text-align: left;
  font-weight: bolder;
}

.user-profile-photo:hover{
  background-color: #B6BBBF;
}

.user-menu-container-spacer{
  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
  padding: 5px;
  background-color: white

}

.user-profile-logout-button:hover{
  background-color: $menu-hover-blue;
  color: white;
}

.create-board-dropdown-container{
  height: 50px;
  width: 40px;
}

.create-board-dropdown-button{
  height: 28px;
  width: 28px;
  font-size: 11px;
  font-weight: bold;
  background: $menu-hover-blue;
  font-family: "Helvetica Neue";
  border-radius: 3px;
  padding-left: 7px;
  padding-top: 4px;
  color: white;
  border: none;
  position: relative;
  right: -70px;
}

.create-board-dropdown-button:hover{
  background-color: #5BA4CF
}

.create-board-dropdown-menu-container {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 14px;
    width: 144px;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue";
    border-radius: 3px;
    box-shadow: 3px 3px 5px #DCDCDC;
    padding-top: 3px;
    padding-bottom: 4px;
    border: 1px solid #DCDCDC;
    width: 271px;
    height: 151px;
    padding-right: 10px;
    padding-left: 10px;
}

.create-board-dropdown-menu-header{
  color: gray;
  font-family: "Helvetica Neue";
  border-bottom: 1px solid gray;
  padding: 5px;
  text-align: center;
  font-size: 14px;

}

.create-board-dropdown-menu-title{
  color: $dark-grey;
  font-size: 12px;
  font-weight: bolder;
  padding-bottom: 5px;
  padding-top: 5px;
}

input.create-board-dropdown-menu-input {
    border-radius: 4px;
    border: 1px solid #298FCA;
    height: 26px;
    color: gray;
    padding-left: 3px;
    font-size: 13px;
}

button.create-board-dropdown-menu-button {
    background-color: #61BD4F;
    box-shadow: 2px 2px 2px #0C3953;
    padding: 7px;
    font-weight: bold;
    font-size: 13px;
    height: 32px;
    border-radius: 10px;
    color: #EDEFF0;
    width: 87px;
    border: none;
    align-self: left;
    margin-top: 10px;
}

button.create-board-dropdown-menu-button:hover{
  background-color: #519839;
}

button.create-board-dropdown-button {
    position: absolute;
    right: 59px;
}
