$offwhite: #EDEFF0;
$header-blue: #026AA7;
$dark-grey: #505050;
$board-item-blue: #0469A4;


.board-index-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  width: 1300px;
}


a.board-index-link {
  font-family: "Helvetica Neue";
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 295px;
  height: 95px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
  margin-right: 15px;
  background-color: $board-item-blue;
  color: white;
  padding-top: 10px;
  padding-left: 12px;
  font-size: 15px;
  border-radius: 4px;
  background-color: #015B8F;
  border: none;
}

a.board-index-link:hover{
  background-color: #015B8F;
}

.fa-user-o:before{
  font-size: 19px;
  color: gray;
  font-weight: bolder;
}

.board-index-header{
  display: flex;
  text-align: center;
  padding-top: 38px;
  padding-left: 26px;
}

text.board-index-header-text {
  line-height: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  font-size: 16px;
  color: $dark-grey;
  padding-left: 11px;
}

.board-index-section{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 1500px;
  position: absolute;
  left: 60px;
}

.index-container{

}
